.DS_Store

app/cache/*
!app/cache/index.html

app/logs/*
!app/logs/index.html

!app/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
/uploads/ebook/
/uploads/pdf/
/uploads/filescv/

# IDE Files
#-------------------------
/nbproject/
/node_modules/
.idea/*
.env
.htaccess

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/